<nav class="navbar sticky-top navbar-expand-lg navbar-dark shadow-sm">
  
  <a class="navbar-brand" routerLink="/home"><i> CropDeal </i></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/crop" routerLinkActive="active">Crops</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/special" routerLinkActive="active">Members</a>
      </li> -->
    </ul>

    <ul class="navbar-nav">
        <a class="nav-link" *ngIf="authService.loggedIn()" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a class="nav-link" *ngIf="!authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="nav-link" *ngIf="!authService.loggedIn()" routerLink="/signup" routerLinkActive="active">Sign Up</a>
        <a class="nav-link" *ngIf="authService.loggedIn()" (click)="logout()" style="cursor:pointer">Logout</a>        
    </ul>
  </div>
</nav>    

<div>
  <router-outlet></router-outlet>            
</div>

