i{
    color: #58cc56;
}

/* .btn{
    border: 1px solid  #58cc56;
    color: black;

}
.btn:hover{
    background-color: #58cc56;
    color: white;
    
} */
/* h3{
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

} */

